In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import tensorflow as tf
from tensorflow import keras

In [128]:
train_labels.label.get(7, -99)

-99

In [129]:
datapath = os.path.join(os.getcwd(),  'data')
train_labels = pd.read_csv(datapath + '/train.csv', index_col=0, dtype=str)
train_labels

      label
Id
2441  glass
0       cup
2442  glass
6535  spoon
4814  plate
...     ...
1646    cup
1647    cup
4813  knife
1648    cup
3503  glass

[5559 rows x 1 columns]

In [130]:
labels = []
images = []

labels_dict = {
    'test': 0,
    'plate': 1,
    'cup': 2,
    'spoon': 3,
    'knife': 4,
    'glass': 5,
    'fork': 6,

}

for dir in os.walk(datapath + '/images'):
    curr_images = dir[2]
    for image in curr_images:
        id = int(image.split('.')[0])
        label = labels_dict[train_labels.label.get(id, 'test')]
        #print(image, id, label)
        images.append(image)
        labels.append(label)


#datapath

In [131]:
q = pd.DataFrame({'image':images, 'label':labels})

In [132]:
q.label.value_counts()

0    2362
1    1227
2    1135
3     989
4     909
5     742
6     557
Name: label, dtype: int64

In [148]:
dataset = tf.keras.utils.image_dataset_from_directory(datapath + '/images',labels = None, label_mode = 'int')

Found 7921 files belonging to 1 classes.

In [142]:
dataset.class_names

['']

In [144]:
for images, labels in dataset.take(1):
    for i in range(9):
        ax = plt.subplot(3, 3, i + 1)
        plt.imshow(images[i].numpy().astype("uint8"))
        plt.title(dataset.class_names[labels[i]])
        plt.axis("off")

ValueError: too many values to unpack (expected 2)